# General
*.py[cod]

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Build
build/

# Caches
Thumbs.db

# Development
.project
.pydevproject
.settings
.idea/

.eggs/

# NPM Packages
node_modules
